*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;/*is to display list items horizontally instead of vertically*/
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    padding-top: 0;
}
nav ul li a{
    text-decoration: none;
    color:#787878;
}
p{
    color:#787878;
}
.menu-icon{
    margin-left: 20px;
    display: none;
}
.container{
    max-width: 1400px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex; 
    padding-top: 3em;
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}
.col-1{
    flex-basis: 62%;
    min-width: 120px;
}
.col-2 {
    flex-basis: 30%;
    min-width: 120px;
}
.col-2 img{
   max-width: 90%;
   padding-top: 3em;

}
.col-1 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    
}

.btn{
    display: inline-block;
    background-color:black;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 40px;
    margin: 40px 0;
    transition: background 0.5s;
}
.btn:hover{
    background:	#282828;
    color: #E8E8E8;
    
}
.categories{
    margin: 100px 0;
}
.col-3{
    flex-basis: 33%;
    min-width: 250px;
    margin-bottom: 30px; 
    
} 
.col-3 img{
    width: 90%;
}

.small-container{
    max-width: 1080px;
    margin: auto; 
    padding-left: 100px;
    padding-right: 25px; 
    
} 
.col-4{
    flex-basis: 25%;
    min-width: 200px;
    padding: 10px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 90%;
}  
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px; 
}
.title::after{
    content: '';
    background: #787878;
    width: 90px;
    height: 3px;
    border-radius: 5px;
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%); 

}
.col-4 p{
    font-size: 13.8px;
}
.col-4:hover{
    transform: translateY(-18px);

}
/* .product-img{
    height: 200px;
    width: 200px;
    overflow: hidden;
}
.product-img img{
    width: 90%;
    object-fit: contain;
} */
/* ----------------------------------------Offer---------------------------------------- */
.offer{
    background-image: linear-gradient(#101010,	#A8A8A8,#F8F8F8);/*  radial & liner gradient */
}
.col-2 .offer-img{
    padding: 10px;
}
.col-6{
    flex-basis: 61%;
    min-width: 250px;
    margin-left: 85px;
}
/* -----------------------------------------Testimonial------------------------------------------ */
.testimonial{
    padding-top: 100px;
}
.col-5{
    flex-basis: 31%;
    min-width: 250px;
    margin-bottom: 30px; 
    
} 
.testimonial .col-5{
    text-align: center;
    padding: 40px 30px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: trasform 0.5s;
    /* flex-basis: 30%; */
    margin-right: 20px;
}
.testimonial .col-5 img{
    width: 60px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-5:hover{
    transform: translateY(-18px);
}
/* --------------------------------------footer----------------------------------------- */
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 20px 0px 20px;
    margin-top: 125px;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
    margin-left:60px ;

}
.footer-col-2{
    flex: 1;
    text-align: center;

}
.footer-col-2 img{
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo,.app-logo1{
    margin-top: 20px;
}
.footer hr{
    border: none;
    background: #b6b6b6;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
/* -----------------------------All Products Page----------------------- */
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #000;
    padding: 5px;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #000;
    margin-left: 10px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer ;

}
.page-btn span:hover{
    background:	#282828;
    color: #E8E8E8;
    
}
/* ---------------------------single product details------------------------ */
.col-7 {
    flex-basis: 50%;
    min-width: 120px;
}
.col-7 img{
   max-width: 90%;
   padding-top: 3em;

}
.col-7 .detail ul{
    list-style-type: square;
}



/* ---------------------------media query for menu------------------------- */


@media only screen and (max-width:800px){
    body{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;/*The CSS overflow property controls what happens to content that is too big to fit into an area.*/
        transition: max-height 0.5s;

    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff
    }
    .menu-icon{
        display: inline;
        cursor: pointer;
    }
}
/* ---------------------------media query for less than 600px----------------------- */
@media only screen and (max-width:600px){
    .row{
        text-align: center;
        align-items: center;
        margin: auto;
        /* justify-content: center; */
    }
    .testimonial .col-5{
        padding-left: 0;
        padding-right: 0;
    }
    .col-1, .col-2, .col-3, .col-4, .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{ 
        flex-basis: 100%;
    }
}
@media (min-width:1024px) and (max-width:1439px){
    .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
        min-width: 100px;
    }
    .footer-col-4, .footer-col-1 {
        margin-left: 25px;
    }
    .col-6{
        min-width: 100px;
        margin-left: 75px;
    }
}
@media (min-width:768px) and (max-width:1023px){
    .col-1{
        flex-basis: 55%;
        min-width: 90px;
    }
    .col-2{
        flex-basis: 30%;
        min-width: 120px;
        margin-left: 100px;

    }
    .col-2 img{
       max-width: 100%;
       padding-bottom: 7em;
    
    }
    .col-3{
        flex-basis: 30%;
        min-width: 50px;

    }
    .col-6{
        margin-left: 185px;
    }
    .offer-img{
        margin-left: 100px;
    }
    .col-5{
        min-width: 100px;
        flex-basis: 60%;
        margin-left: 90px;
    }
    .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
        min-width: 100px;
    }
    .footer-col-4, .footer-col-1 {
        margin-left: 25px;
    }
    .footer-col-1 {
        padding-top: 5em;
    }

}
@media  (min-width:320px) and (max-width:767px){
    
    .small-container, .container{
        padding-left: 25px;
    }
    .col-6{
        margin-left: 60px;
    }
    .col-5{
        margin-left: 30px;
        flex-basis: 90%;
    }
}

